/* 
  Inspired from 
  Settings - Daily UI 007
  by Dillon Morris
  https://dribbble.com/shots/4290939-Settings-Daily-UI-007
*/

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body,html{
    height:100%;
}

body {
    overflow: auto;
}

a {
    text-decoration: none;
    color: rgb(166, 134, 196);
    font-weight: 700;
    
 }

 
h2{
    font-weight: bolder;
    color: #898dbf;
}

form{
    width:550px;
}

form *{
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}

form .form-control,form .form-control:focus{
    border-color:transparent;
    border-bottom-color: #bebcc1;
    box-shadow:none;
}

form .btn{ 
    border-radius: 0px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#8f9096;
}

.btn.btn-primary{
    background: #6c63ff;
    color:white;
}
.sidebar {
    height: 100vh !important;
    bottom: 0;
    padding-left:20px;
    font-size: 1.3rem;
    background: #6c63ff;
}

@media screen and (max-width:940px){
    .sidebar{
        font-size: 1rem;
        padding-left :0px;
    }
}


.sidebar .nav-link{
    margin-bottom: 20px;
    color:#dddce5;
}

.nav-link.active{
    color:#fff;
}

.main > .row{
    height: 100%;
}

@media screen and (max-width:768px){
    .content{
        padding-left:50px; 
        width: 100%;
        padding-top: 200px;
        padding-bottom: 50px;
    }
    
    form{
        width: 100%;
        margin:auto;
    }
    
}

.menu {
    position: absolute;
    right: 10%;
    top:30px;
    margin:auto;
    display: none;  
    cursor:pointer;
    z-index: 5;
    height: 33px;
    width:30px;
}

.bar,.bar:after,.bar:before {
    width:30px;
    height:3px;
    background: #6c63ff;
    transition: all 0.2s;
}

.bar{
    position: relative;
}

.bar:after {
    position: absolute;
    content: '';
    left:0;
    top:10px;
    transition: top 0.2s 0.2s,transform 0.2s;
}

.bar:before {
    position: absolute;
    content: '';
    left:0;
    bottom:10px;
    transition: bottom 0.2s 0.2s,transform 0.2s;
}
.bar.animate{
    background: transparent;
}
.bar.animate:after{
    top:0;
    transform: rotate(45deg);
    transition: top 0.2s ,transform 0.2s 0.2s;
    background: #fff;
}

.bar.animate:before{
    bottom:0;
    transform: rotate(-45deg);
    transition: bottom 0.2s,transform 0.2s  0.2s;
    background: #fff;
}

.expand-menu {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #6c63ff;
    transition: width 0.5s;
    width: 0%;
}

.expand-menu .nav-link{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    color:#dddce5;
    font-size:1.5rem;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.expand-menu .nav-link.animate{
    display: block;
}

.expand-menu .nav-link.animate-show{
    opacity:1;
}

.expand-menu .nav-link.active{
    color:#fff;
}

.expand-menu.animate{
    width : 100%;
}


.card {
    margin: auto;
    width: 600px;
    padding: 3rem 3.5rem;

}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

@media(max-width:767px) {
    .card {
        width: 90%;
        padding: 1.5rem
    }
}

@media(height:1366px) {
    .card {
        width: 90%;
        padding: 8vh
    }
}

.card-title {
    font-weight: 700;
    font-size: 2.5em
}

.nav {
    display: flex
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-bottom: 6vh
}

.nav li {
    padding: 1rem
}

.nav li a {
    color: black;
    text-decoration: none
}

.active {
    border-bottom: 2px solid black;
    font-weight: bold
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    min-width: unset;
    background-color: transparent;
    border-color: transparent;
    margin: 0
}

form a {
    color: grey;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: bold
}

form a:hover {
    color: grey;
    text-decoration: none
}

form .row {
    margin: 0;
    overflow: hidden
}

form .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden
}

form .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

form .row .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem
}

form .row .col-2,
.col-7,
.col-3 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh
}

form .row .col-2 {
    padding-right: 0
}

#card-header {
    font-weight: bold;
    font-size: 0.9rem
}

#card-inner {
    font-size: 0.7rem;
    color: gray
}

.three .col-7 {
    padding-left: 0
}

.three {
    overflow: hidden;
    justify-content: space-between
}

.three .col-2 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    width: fit-content;
    overflow: hidden
}

.three .col-2 input {
    font-size: 0.7rem;
    margin-left: 1vh
}

.btn {
    width: 100%;
    background-color: rgb(65, 202, 127);
    border-color: rgb(65, 202, 127);
    color: white;
    justify-content: center;
    padding: 2vh 0;
    margin-top: 3vh
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}